.action {
  background-color: #27ae60;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 2px 2px;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  outline: none;
  cursor: not-allowed;
}

.select-mode-on {
  background-color: #8e44ad;
}

.left {
  display: block;
  height: 4rem;
  width: 4rem;
}

.top {
  border-style: solid;
  border-color: #27ae60;
  border-width: 2px;
  width: 7rem;
  padding: 5px;
  margin: 5px;
  font-weight: medium;
}
