label {
  padding: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 2px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

.component-actions-top {
  width: 100%;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.component-actions-left {
  float: left;
  overflow: auto;
}

.choose {
  background-color: #f1f3f4;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 2px;
}

.bullet {
  font-weight: 550;
}

.subtext {
  font-style: italic;
}

ul > li {
  margin-left: 20px;
}
