html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f1f3f4;
}

button {
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  font-weight: medium;
  border-radius: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-header {
  background-color: #2e2e2e;
  color: white;
  display: inline-grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "header picture";
}

.App-footer {
  background-color: #ced4d4;
  color: #34495e;
}

.App-title,
.App-license {
  vertical-align: middle;
  line-height: normal;
  padding: 12px;
}

.App-title {
  font-size: 1.5rem;
  grid-area: header;
}

.App-picture {
  background-image: url(./images/molecule_banner.svg);
  background-repeat: no-repeat;
  grid-area: picture;
}

.App-license,
.App-date {
  font-size: 0.9rem;
}

.App-date {
  display: block;
}
