.atom {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 2px 2px;
  cursor: pointer;
  display: block;
  height: 4rem;
  width: 4rem;
  transition-duration: 0.1s;
}

.disabled {
  opacity: 0.6;
  outline: none;
  cursor: not-allowed;
}
