/* contains
 * component-actions-top
 * and container-middle
 */
.container-game {
  display: flex;
  flex-direction: column;
}

/* contains
  * component-actions-left,
  * container-center,
  * and component-atom-panel
  */
.container-middle {
  display: block;
}

/* contains
 * message status,
 * message error,
 * and component-canvas
 */
.container-center {
  display: flex;
  flex-direction: column;
  padding: 2px;
}
