.feedback {
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

.correct {
  background-color: #16a085;
}

.incorrect {
  background-color: #c0392b;
}

.why {
  background-color: #8e44ad;
}
