.message-container {
  padding: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2vh;
}

.message {
  padding: 5px;
  height: 100%;
  width: 50%;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.error {
  background-color: #f39c12;
}

.status {
  background-color: #5cace2;
}

.success {
  background-color: green;
}

.instructions {
  padding: 0px;
  border-radius: 2px;
  color: white;
}
